AIN5/ubicomp/lab3/ex1.json
[
    {
        "id": "fd732fc3ed89800e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d0943c6028e5b6b",
        "type": "serial out",
        "z": "fd732fc3ed89800e",
        "name": "",
        "serial": "1df008d4144b292f",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "cb2959fc941f9ae8",
        "type": "inject",
        "z": "fd732fc3ed89800e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "1d0943c6028e5b6b",
                "6439ccb576d30bda"
            ]
        ]
    },
    {
        "id": "c4f9877265334ec6",
        "type": "inject",
        "z": "fd732fc3ed89800e",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "1d0943c6028e5b6b",
                "6439ccb576d30bda"
            ]
        ]
    },
    {
        "id": "6439ccb576d30bda",
        "type": "debug",
        "z": "fd732fc3ed89800e",
        "name": "OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "5ff7a441fe495455",
        "type": "serial in",
        "z": "fd732fc3ed89800e",
        "name": "",
        "serial": "1df008d4144b292f",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "764f2c53aa9b831e",
                "70206d96ebcc2650"
            ]
        ]
    },
    {
        "id": "764f2c53aa9b831e",
        "type": "debug",
        "z": "fd732fc3ed89800e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "9bd252c5fe71925c",
        "type": "ui_switch",
        "z": "fd732fc3ed89800e",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ef79db920e344b52",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "1d0943c6028e5b6b"
            ]
        ]
    },
    {
        "id": "f964c4c4b0c19759",
        "type": "ui_led",
        "z": "fd732fc3ed89800e",
        "order": 2,
        "group": "ef79db920e344b52",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "70206d96ebcc2650",
        "type": "function",
        "z": "fd732fc3ed89800e",
        "name": "function 2",
        "func": "if (msg.payload.includes(\"0\")) {\n    return  {payload: 0};\n} else {\n    return { payload: 1};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "f964c4c4b0c19759"
            ]
        ]
    },
    {
        "id": "1df008d4144b292f",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ef79db920e344b52",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "8fd2c95aa5c479b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fd2c95aa5c479b3",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]