AIN5/ubicomp/lab3/ex2.json
[
    {
        "id": "09dfceb9d8ec4d89",
        "type": "tab",
        "label": "lab3_ex2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2981918d77ba567e",
        "type": "serial in",
        "z": "09dfceb9d8ec4d89",
        "name": "temp sensor",
        "serial": "1df008d4144b292f",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "16810b024b8ab7c0"
            ]
        ]
    },
    {
        "id": "c26154046e8858c3",
        "type": "debug",
        "z": "09dfceb9d8ec4d89",
        "name": "serial input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc7a0281b01df25c",
        "type": "ui_gauge",
        "z": "09dfceb9d8ec4d89",
        "name": "",
        "group": "7378d8829b2dcfee",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#1c71d8",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "e0684c69a25f9a70",
        "type": "ui_chart",
        "z": "09dfceb9d8ec4d89",
        "name": "",
        "group": "7378d8829b2dcfee",
        "order": 2,
        "width": "6",
        "height": "3",
        "label": "temp course",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "16810b024b8ab7c0",
        "type": "function",
        "z": "09dfceb9d8ec4d89",
        "name": "function 3",
        "func": "return {payload: Number(msg.payload.trim())};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            [
                "c26154046e8858c3",
                "fc7a0281b01df25c",
                "e0684c69a25f9a70"
            ]
        ]
    },
    {
        "id": "1df008d4144b292f",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7378d8829b2dcfee",
        "type": "ui_group",
        "name": "Real Time Temperature",
        "tab": "8fd2c95aa5c479b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fd2c95aa5c479b3",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]